/datastore/processed_data/not_seasonally_adjusted/*.pickle
/datastore/processed_data/all_items_enhanced.csv
/datastore/processed_data/all_items_enhanced.pickle
/datastore/processed_data/series_descriptions.csv